body {

background: #1F1D2B;
}
.wrapper{

margin: 0px 80px 0px 80px;


}

.flex-gap > li {
    margin: 32px;
  }
  .flex-gap > div:nth-child(2){
    margin: 32px;
  
  }

.btn-create{
    padding: 16px 32px;
    border: #D7D7D7 1px solid;
    border-radius: 10px;
  
}
header{margin-bottom: 160px;}