#nftCard div img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 24px;
}
#nftCard div :nth-child(2){
  
    margin-bottom: 16px;
}
#nftCard div hr{
    background-color: #C4C4C4;
    height: 0.5px;
    margin-bottom: 24px;
}

#nftCard div :nth-child(4){
   
    margin-bottom: 80px;
}
#nftCard div div:last-child div:last-child{
  
    border: solid 1px #e2d2e2;
    padding: 3px 20px;
   

}
#nftCard div div:last-child div {
    
   
    margin-bottom: 0px;
    align-items: center;
    border-radius: 8px;
}

.tableau2{

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 115px;
    
  
   
}


@media only screen and (max-width: 767px) {

    .tableau2{

        display: grid;
        
        grid-template-columns: 1fr ;
        column-gap: 115px;
        row-gap: 50px;
    }
}


